@page
@model ASAssignment_222746Q.Pages.ForgotPasswordConfirmationModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">

			<h1 class="mb-3">Forgot Password Confirmation</h1>

			<form method="post" enctype="multipart/form-data">

				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3 text-center">
					<p class="text-success">An email has been sent to your email address. Please check your email to reset your password.</p>
				</div>

				<div class="mb-3 text-center">
					<a asp-page="/Index" class="btn btn-primary btn-block">Back to Home</a>
				</div>
			</form>
		</div>
	</div>