@page
@model ASAssignment_222746Q.Pages.ResetPasswordModel
@{
}

<script>
	function ValidatePassword() {
		var str = document.getElementById("password").value;

		if (str.length < 12) {
			document.getElementById("password_checker").innerHTML = "WEAK. Password must be at least 12 characters long.";
			document.getElementById("password_checker").style.color = "red";
			return ("Too Short");
		}

		else if (str.search(/\d/) == -1) {
			document.getElementById("password_checker").innerHTML = "WEAK. Password must contain at least one digit.";
			document.getElementById("password_checker").style.color = "red";
			return ("No Number");
		}

		else if (str.search(/[a-zA-Z]/) == -1) {
			document.getElementById("password_checker").innerHTML = "WEAK. Password must contain at least one letter.";
			document.getElementById("password_checker").style.color = "red";
			return ("No Alphabetical Character");
		}

		else if (str.search(/[A-Z]/) == -1) {
			document.getElementById("password_checker").innerHTML = "WEAK. Password must contain at least one uppercase letter.";
			document.getElementById("password_checker").style.color = "red";
			return ("No Uppercase letter");
		}

		else if (str.search(/[!$#%^&*]/) == -1) {
			document.getElementById("password_checker").innerHTML = "WEAK. Password must contain at least one special character.";
			document.getElementById("password_checker").style.color = "red";
			return ("No Special Characters");
		}

		document.getElementById("password_checker").innerHTML = "STRONG.";
		document.getElementById("password_checker").style.color = "green";
	}
</script>

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3"> Reset Password </h1>

			<form method="post" enctype="multipart/form-data">
				<div asp-validation-summary="All" class="text-danger"></div>

				<! -- HIDDEN FIELDS --> 
				<input type="hidden" asp-for="RPModel.Email" />
				<input type="hidden" asp-for="RPModel.ResetToken" />

				<! -- PASSWORD -->
				<div class="mb-3">
					<label class="form-label" asp-for="RPModel.Password">Password</label>
					<input id="password" onkeyup="ValidatePassword()" type="password" asp-for="RPModel.Password" class="form-control" />
					<span asp-validaton-for="RPModel.Password" class="text-danger"></span>

					<label id="password_checker">Password Strength</label>
				</div>

				<! -- CONFIRM PASSWORD -->
				<div class="mb-3">
					<label class="form-label" asp-for="RPModel.ConfirmPassword">Confirm Password</label>
					<input type="password" asp-for="RPModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="RPModel.ConfirmPassword" class="text-danger"></span>
				</div>


				<! -- SUBMIT BUTTON -->	
				<div class="mb-3 text-center">
					<button type="submit" class="btn btn-primary btn-block">
						Reset My Password
					</button>
				</div>
			</form>
		</div>
	</div>
</div>