@page
@model ASAssignment_222746Q.Pages.Error._401Model
@{
	ViewData["title"] = "Not Authorised";
}
<div class="container" style="text-align: center; color: #888;">
	<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
	<p style="font-size: 50px; ">You are not authorised to access this page.</p>
	<p>
		This error happens when request doesn't contain authentication or authorization is refused because of
		bad credentials.
	</p>
	<p>Please navigate back to <a href="/Login">Login Page</a></p>
</div>