@page
@model ASAssignment_222746Q.Pages.Error._403Model
@{
	ViewData["title"] = "Forbidden";
}
<div class="container" style="text-align: center; color: #888;">
	<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">403</h1>
	<p style="font-size: 50px; ">WThis is Forbidden.</p>
	<p>
		Server refused to execute request, although it is in correct format. Server may or may not provide
		information why request is refused.
	</p>
	<p>Please navigate back to <a href="/Login">Login Page</a></p>
</div>
