@page
@model ASAssignment_222746Q.Pages.Error._408Model
@{
	ViewData["title"] = "Request Timeout";
}
<div class="container" style="text-align: center; color: #888;">
	<h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">408</h1>
	<p style="font-size: 50px; ">Request has timed out.</p>
	<p>
		This could be a temporary problem with Internet connection or even to short time interval on web
		server.
	</p>
	<p>Please navigate back to <a href="/Login">Login Page</a></p>
</div>